<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>

        <!-- Default document: index.php -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>

        <!-- Proteksi folder sensitif -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="config" />
                    <add segment="includes" />
                    <add segment="database" />
                </hiddenSegments>
            </requestFiltering>
        </security>

        <!-- MIME types untuk font -->
        <staticContent>
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".woff"  mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>

    </system.webServer>
</configuration>